<% title "Main Activities" %>

<table>
  <tr>
    <th>Description</th>
    <th>Time Main Activity</th>
  </tr>
  <% for main_activity in @main_activities %>
    <tr>
      <td><%= main_activity.description %></td>
      <td><%= main_activity.time_main_activity %></td>
      <td><%= link_to "Show", main_activity %></td>
      <td><%= link_to "Edit", edit_main_activity_path(main_activity) %></td>
      <td><%= link_to "Destroy", main_activity, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Main Activity", new_main_activity_path %></p>
