<%= form_for [@user.vmodule, @user] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label t(:username) %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label t(:email) %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label t(:age) %><br />
    <%= f.text_field :age %>
  </p>
  <p>
    <%= f.label t(:user_efficiency) %><br />
    <%= f.text_field :user_efficiency, :value => 0 %>
  </p>
  <p>
    <%= f.label t(:password) %><br />
    <%= f.password_field :password %>
  </p>
   <p>
    <%= f.label t(:password_confirmation) %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p><%= f.submit %></p>
<% end %>
