<% title "Activities" %>

<table>
  <tr>
    <th>Description</th>
    <th>Time Activity</th>
  </tr>
  <% for activity in @activities %>
    <tr>
      <td><%= activity.description %></td>
      <td><%= activity.time_activity %></td>
      <td><%= link_to "Show", activity %></td>
      <td><%= link_to "Edit", edit_main_activity_activity_path(@main_activity) %></td>
      <td><%= link_to "Destroy", [@main_activity,activity], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Activity", new_main_activity_activity_path(@main_activity) %></p>
