<%= form_for @vmodule do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label t(:vmodule_number) %><br />
    <%= f.text_field :vmodule_number %>
  </p>
  <p>
    <%= f.label t(:vmodule_efficiency) %><br />
    <%= f.text_field :vmodule_efficiency %>
  </p>
  <p><%= f.submit t(:submit) %></p>
<% end %>
