<% title [t(:vmodule),@vmodule.vmodule_number.to_s].join("  ") %>
<%= main_information @vmodule %>
<div id= "content-area">
  <table id="table-users">
    <% for user in @vmodule.users do %>
      <%= small_user_information user %>
    <% end %>
  </table>
</div>

<% if admin? %>
  <% admin_area do %>
    <%= link_to t(:edit), edit_vmodule_path(@vmodule) %> |
    <%= link_to t(:destroy), @vmodule, :confirm => 'Are you sure?', :method => :delete %> |
    <%= link_to t(:add_user), new_vmodule_user_path(@vmodule) %> |
    <%= link_to t(:view_all_modules), vmodules_path %>
  <% end %>
<% end %>
