<% title [t(:vmodule),@vmodule.vmodule_number.to_s].join("  ") %>
<%= main_information @vmodule %>
<div id= "content-area">
  <table id="table-users">
    <% for user in @vmodule.users do %>
      <%= small_user_information user %>
    <% end %>
  </table>
</div>

<% if admin? %>
  <% admin_area do %>
    <%= link_to t(:edit), edit_vmodule_path(@vmodule) %> |
    <%= link_to t(:destroy), @vmodule, :confirm => 'Are you sure?', :method => :delete %> |
    <%= link_to t(:add_user), new_vmodule_user_path(@vmodule) %> |
    <%= link_to t(:view_all_modules), vmodules_path %>
  <% end %>
<% end %>

<script type= "text/javascript">

  function objetoAjax(){
     var xmlhttp=false;
     try {
		xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
	} catch (e) {
		try {
		   xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
		} catch (E) {
		    xmlhttp = false;
  		}
	}
	if (!xmlhttp && typeof XMLHttpRequest!='undefined') {
		xmlhttp = new XMLHttpRequest();
	}
	return xmlhttp;
  }

  function actualizarUsers(){

	divResultado = document.getElementById('table-users');
	ajax=objetoAjax();
        if (divResultado != null){
            ajax.open("GET", "<%="/vmodules/#{@vmodule.id}/update_worker" %>");
	    ajax.onreadystatechange=function() {
		if (ajax.readyState==4) {
		    //mostrar resultados en esta capa
		    divResultado.innerHTML = ajax.responseText
		    //llamar a funcion para limpiar los inputs
		}
		
	    }
	    //enviando los valores
	    ajax.send(null);
            setTimeout("actualizarUsers()",1000);
	}
    
  }
setTimeout("actualizarUsers()",1000);

</script>
